<div class="flex-column">
    <h1><%= @article.title %></h1>

    <p><%= @article.body %></p>

    <div class="margin-15">
         <% if !!current_user && current_user.id == @article.user_id %>
            <%= link_to "edit", edit_user_article_path(@article) %>
            <%= button_to "delete", user_article_path( @article.user_id, @article), method: :delete,
            form: { data: { turbo_confirm: 'Are you sure?' } }%>
        <% end %>
    </div>

    <div class="margin-15">
        <%= link_to "back", articles_showAll_path, class: "p-button color-bright bg-color-dark" %>
    </div>

    <h2>Comments</h2>
    <%= render @article.comments %>

<% if !!current_user %>
    <h2>Create comment</h2>
    <%= render "/comments/form" %>
<%end%>