<h1><%= @article.title %></h1>

<p><%= @article.body %></p>



    <li><%= link_to "Edit", edit_user_article_path(@article) %></li>
    <li><%= button_to "Destroy", user_article_path( @article.user_id, @article), method: :delete,
    form: { data: { turbo_confirm: 'Are you sure?' } }%></li>



<h2>Comments</h2>
<%= render @article.comments %>

