<p style="color: green"><%= notice %></p>

<h1><%= @user.name %></h1>


<h2>Articles</h2>
<%= render @user.articles%>



    <%= link_to "Edit", edit_user_path(@user) %>
    <%= button_to "Destroy", user_path(@user), method: :delete,
    form: { data: { turbo_confirm: 'Are you sure?' } }%>

