<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <nav class="navbar gap-10 bg-color-dark">
    <div class="navItem">
      <%= link_to "Profile", root_path, 
      class: "a-text color-bright" %>
    </div>
    <div class="navItem">
      <%= link_to "Articles", articles_showAll_path, 
      class: "a-text color-bright" %>
    </div>
  </nav>

    <div class="container text-pos-center ">
      <%= yield %>
    </div>
  </body>
</html>
